

body {
  font: 13px/20px 'Ubuntu', Tahoma, Verdana, sans-serif;
  color: #404040;
  background: hsla(151,100%,49%,0.36);
  
}

.login {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 310px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 60px  hsla(359,92%,50%,1.00);
}


.login input[type=text], .login input[type=password] {
  width: 278px;
  font: 13px/20px 'Ubuntu', Tahoma, Verdana, sans-serif;
}

.login p.submit {
  text-align: right;
}













