<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <ul th:each="u : ${debug}">
     <div class="user"><li  class="lolz" th:text="${u}" /> </div>
    </ul>
</body>
</html>