<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"></meta>
       <style>
    body {
	background:hsla(151,100%,49%,0.36);
	font: 15px/20px 'Ubuntu', Tahoma, Verdana, sans-serif;  
  }
  
  
#border {
  border-width:2px;
  border-style:solid;
  border-color:black;
  padding:2em;
  text-align:justify;
  border-radius:20px;
  margin-left:50px;
  margin-right:50px;
  margin-bottom:20px;
  background-color:hsla(359,92%,68%,0.90);
  outline: none;
  border-color: hsla(86,100%,50%,1.00);
  box-shadow: 0 0 40px  hsla(359,92%,50%,1.00);
}
#border2 {
  border-width:2px;
  border-style:solid;
  border-color:black;
  text-align:justify;
  border-radius:20px;
  margin-left:50px;
  margin-right:50px;
  margin-bottom:10px;
  padding-left:20px;
  background-color:hsla(359,92%,68%,0.90);
  outline: none;
  border-color: hsla(86,100%,50%,1.00);
  box-shadow: 0 0 40px  hsla(359,92%,50%,1.00);
  
}
#commentborder{
	border-width:2px;
	border-style:solid;
	border-color:black;
	padding:0.5em;
	text-align:justify;
	border-radius:20px;
	margin-left:100px;
	margin-right:100px;
	margin-bottom:20px;
	background-color:hsla(298,5%,90%,1.00);
	outline: none;
	border-color: hsla(86,100%,50%,1.00);
	box-shadow: 0 0 40px  hsla(359,92%,50%,1.00);
	
}
#filterTextStyle{
 margin-bottom::1px
}
#clickable{
	color: #404040;
}
    </style>
    
	<script type="text/javascript" src="moveobj.js"> </script>
	<script type="text/javascript">

		/***********************************************
		* Floating image script- By Virtual_Max (http://www.geocities.com/siliconvalley/lakes/8620)
		* Modified by Dynamic Drive for various improvements
		* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
		***********************************************/

		//Step 1: Define unique variable names depending on number of flying images (ie:3):
		var flyimage1, flyimage2, flyimage3

		function pagestart()
		{
			//Step 2: Using the same variable names as 1), add or delete more of the below lines (60=width, height=80 of image):
 			flyimage1=new Chip("flyimage1",47,47);


			//Step 3: Using the same variable names as 1), add or delete more of the below lines:
			movechip("flyimage1");

		}

		if (window.addEventListener)
			window.addEventListener("load", pagestart, false)
		else if (window.attachEvent)
			window.attachEvent("onload", pagestart)
		else if (document.getElementById)
			window.onload=pagestart
	</script>    
</head>
  
<body>
	<!-- titleimage -->
	<div align="center"><img class="imageOne" src="http://puu.sh/ippUl/8af28b6b49.jpg" width="638" height="208" alt=""/></div>
	
    <!-- Dropdown for filtering threads -->
    <div id="border2">
		<div id="filterTextStyle">
			Sortieren nach:
		</div>
		<form name="Sortfilter" action="" method="put">
			<div align="left">
				<select for="sort" name="dropdown"  onchange="this.form.submit()">
                	<option value="date">Datum</option>
					<option value="relevance">Beliebtheit</option>
					<option value="maxcomments">Anz Kommentare</option>
				</select>
				<p th:object="${sort}" th:text="${sort}"/>
			</div>
		</form>
	</div>
	<!-- Thread -->
	
    <a th:each="t : ${threads}" th:href="@{'thread/' + ${t.name}}" id="clickable">
    <div id="border"> 
		<table border="0">
  			<colgroup>
  				<col width="70%"/>
    			<col width="10%"/> 
    			<col width="10%"/>
    			<col width="10%"/>
  			</colgroup>
			<tr>
    			<td> <p th:text=" ${t.name}"/>  </td>
    			<td/>
                <!-- Rating -->
    			<td>&#9733;&#9733;&#9733;&#9733;</td>
    			<td>Cunter: <hur th:text="${t.wieGeil}" /></td>
  			</tr>
		</table> 
	</div>
    </a>
  <div id="border"> 
     <h1> Make your own thread! </h1>
      <form action="" th:action="@{/thread} +'/add?'" method="put">
			<label for="text">Name: </label> 
			<input type="text" id="text" name="name" /> 
			<br /> <label for="text">Thematik: </label> 
			<input type="text" id="text" name="thematik" /> 
			<br /> 
			<input id = "submitPost" type="submit" value="posten" />
		</form>
	</div>
 
 
	<!-- Step 4: Define your flying images. For each image's ID tag, use the same variable names as 1) above -->
	<div ID="flyimage1" STYLE="position:absolute; left: -500px; width:47; height:68;">
		<a HREF="http://dynamicdrive.com"><IMG SRC="snoop-dogg.gif" BORDER="0" style="position: relative; z-index:-1;"/></a>
	</div>
</body>
</html>