@charset "utf-8";
/* CSS Document */

body {
	background:hsla(151,100%,49%,0.36);
	font: 15px/20px 'Ubuntu', Tahoma, Verdana, sans-serif;  
  }
  
  
#border {
  border-width:2px;
  border-style:solid;
  border-color:black;
  padding:2em;
  text-align:justify;
  border-radius:20px;
  margin-left:50px;
  margin-right:50px;
  margin-bottom:20px;
  background-color:hsla(359,92%,68%,0.90);
  outline: none;
  border-color: hsla(86,100%,50%,1.00);
  box-shadow: 0 0 40px  hsla(359,92%,50%,1.00);
}
#border2 {
  border-width:2px;
  border-style:solid;
  border-color:black;
  text-align:justify;
  border-radius:20px;
  margin-left:50px;
  margin-right:50px;
  margin-bottom:10px;
  padding-left:20px;
  background-color:hsla(359,92%,68%,0.90);
  outline: none;
  border-color: hsla(86,100%,50%,1.00);
  box-shadow: 0 0 40px  hsla(359,92%,50%,1.00);
  
}
#commentborder{
	border-width:2px;
	border-style:solid;
	border-color:black;
	padding:0.5em;
	text-align:justify;
	border-radius:20px;
	margin-left:100px;
	margin-right:100px;
	margin-bottom:20px;
	background-color:hsla(298,5%,90%,1.00);
	outline: none;
	border-color: hsla(86,100%,50%,1.00);
	box-shadow: 0 0 40px  hsla(359,92%,50%,1.00);
	
}
#filterTextStyle{
 margin-bottom::1px
}
#clickable{
	color: #404040;
}





