<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
    body {
	background:hsla(151,100%,49%,0.36);
	font: 15px/20px 'Ubuntu', Tahoma, Verdana, sans-serif;  
  }
  
  
#border {
  border-width:2px;
  border-style:solid;
  border-color:black;
  padding:2em;
  text-align:justify;
  border-radius:20px;
  margin-left:50px;
  margin-right:50px;
  margin-bottom:20px;
  background-color:hsla(359,92%,68%,0.90);
  outline: none;
  border-color: hsla(86,100%,50%,1.00);
  box-shadow: 0 0 40px  hsla(359,92%,50%,1.00);
}
#border2 {
  border-width:2px;
  border-style:solid;
  border-color:black;
  text-align:justify;
  border-radius:20px;
  margin-left:50px;
  margin-right:50px;
  margin-bottom:10px;
  padding-left:20px;
  background-color:hsla(359,92%,68%,0.90);
  outline: none;
  border-color: hsla(86,100%,50%,1.00);
  box-shadow: 0 0 40px  hsla(359,92%,50%,1.00);
  
}
#commentborder{
	border-width:2px;
	border-style:solid;
	border-color:black;
	padding:0.5em;
	text-align:justify;
	border-radius:20px;
	margin-left:100px;
	margin-right:100px;
	margin-bottom:20px;
	background-color:hsla(298,5%,90%,1.00);
	outline: none;
	border-color: hsla(86,100%,50%,1.00);
	box-shadow: 0 0 40px  hsla(359,92%,50%,1.00);
	
}
#filterTextStyle{
 margin-bottom::1px
}
#clickable{
	color: #404040;
}

    
    
    
    </style>
</head>
<body>

	<!-- titleimage -->
	<div align="center"><img class="imageOne" src="http://puu.sh/ippUl/8af28b6b49.jpg" width="638" height="208" alt=""/></div>
	
    <!-- Mainthread -->
    <div id="border"> 
		<table border="0">
  			<colgroup>
  				<col width="80%"/>
                <col width="10%"/>
    			<col width="10%"/>
  			</colgroup>
			<tr  th:each="t : ${threads}">
    			<td>
                	<table border="0" style="margin-bottom:10px">
                		<tr>
                    		<b> </b>
                    	</tr>
                    </table>
                    	<hur th:text="${t.name}"/> <br/>
						<p th:text="${t.thematik}"/>
                    <table style="margin-bottom:50px"/>
                    
                    <table border="0" width="100%">
                    	<tr>
                        	<td width="80%px">
                        		<i>Ersteller: <p th:text="${t.user.username}"/></i>
                            </td>
                            <td width="20%" align="right">
                            	<i><p th:text="${t.date}"/></i>
                            </td>
                        </tr>
                        
                    </table>
				</td> 
    			<td/>
                <!-- Rating -->
    			<td>&#9733;&#9733;&#9733;&#9733;</td>
  			</tr>
		</table> 
        
	</div>
    
    
    <!-- Comment -->
    
    <div  th:each="p : ${posts}" id="commentborder"> 
		<table border="0">
  			<colgroup>
  				<col width="80%"/>
                <col width="10%"/>
    			<col width="10%"/>
  			</colgroup>
			<tr>
    			<td>
                	<table border="0" style="margin-bottom:10px" width="100%">
                		<tr>
                        	<td width="60%px">
                        		<i><p th:text="${p.user.username}"/></i>
                            </td>
                            <td width="10%">
                            	<i> <p th:text="${p.date}"/></i>
                            	<div id="p.id"/>
                            </td>
                        </tr>
                    </table>
						<p th:text="${p.text}"/>
					
                   </td> 
    			<td/>
                <!-- Rating -->
    			<td>
    			<form action="" th:action="@{/like} +'/post?'" method="put"> <input type="hidden" id="text" name="post" th:value="${p.id}" />  <input id = "like" type="submit" value="like" /> <k th:text="${p.likes}"/> </form>
    			<form action="" th:action="@{/dislike} +'/post?'" method="put"> <input type="hidden" id="text" name="post" th:value="${p.id}" />  <input id = "like" type="submit" value="dislike" /> <k th:text="${p.dislikes}"/> </form>
</td>
  			</tr>
		</table> 
    </div>
    
     <div th:each="t : ${threads}" id="commentborder"> 
     <h1> Write your own post! </h1>
      <form action="" th:action="@{/post} +'/add?'" method="put">
			<label for="text">Text: </label> 
			<input type="text" id="text" name="text" /> 
			<input type="hidden" id="text" name="thread" th:value="${t.name}" /> 
			<br /> 
			<input id = "submitPost" type="submit" value="posten" />
		</form>
	</div>
</body>
</html>